body {
    transition: 0.5s ease-in-out;
    color: #212529;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }

.image{
    width: 40%;
    position: absolute;
    top: 25%;
    left: 5%;
}

.h1 {
    text-align: right;
}

.title{
    position: absolute;
    right: 7%;
    top: 40%;
    text-align: right;
}
.paragraph{
    position: absolute;
    right: 1%;
    top: 100%;
    width: 200%;
}